In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
metricas = pd.read_excel('METRICAS_NBA.xlsx')
jogadores = pd.read_excel('JOGADORES_NBA.xlsx')

In [58]:
jogadores.head()

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [59]:
metricas.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950,Curly Armstrong,G-F,31.0,FTW,63,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176,NaN,NaN,NaN,217,458
1,1,1950,Cliff Barker,SG,29.0,INO,49,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109,NaN,NaN,NaN,99,279
2,2,1950,Leo Barnhorst,SF,25.0,CHS,67,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140,NaN,NaN,NaN,192,438
3,3,1950,Ed Bartels,F,24.0,TOT,15,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20,NaN,NaN,NaN,29,63
4,4,1950,Ed Bartels,F,24.0,DNN,13,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20,NaN,NaN,NaN,27,59

Merge dos dados

In [60]:
df = pd.merge(metricas, jogadores, how='left', on='Player')
df.head()

,Unnamed: 0_x,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TOV,PF,PTS,Unnamed: 0_y,height,weight,collage,born,birth_city,birth_state
0,0,1950,Curly Armstrong,G-F,31.0,FTW,63,NaN,NaN,NaN,...,NaN,217,458,0,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,1950,Cliff Barker,SG,29.0,INO,49,NaN,NaN,NaN,...,NaN,99,279,1,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,1950,Leo Barnhorst,SF,25.0,CHS,67,NaN,NaN,NaN,...,NaN,192,438,2,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,1950,Ed Bartels,F,24.0,TOT,15,NaN,NaN,NaN,...,NaN,29,63,3,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,1950,Ed Bartels,F,24.0,DNN,13,NaN,NaN,NaN,...,NaN,27,59,3,196.0,88.0,North Carolina State University,1925.0,NaN,NaN

In [61]:
df.columns

Index(['Unnamed: 0_x', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Unnamed: 0_y', 'height',
       'weight', 'collage', 'born', 'birth_city', 'birth_state'],
      dtype='object')

## Checando outliers no dataframe

obs:
- **Year:** ano da estatÃ­stica 
- **Pos:** posiÃ§Ã£o do jogador
- **Age:** idade
- **Tm:** time
- **G:** quantidade de jogos
- **MP:** quantidade de minutos jogados
- **TS%:** taxa de lanÃ§amentos com ponto 
- **FTr:** taxa de lanÃ§amento livre
- **PTS:** pontos

In [62]:
df[['height', 'weight', 'TS%', 'FTr']]

       height  weight    TS%    FTr
0       180.0    77.0  0.368  0.467
1       188.0    83.0  0.435  0.387
2       193.0    86.0  0.394  0.259
3       196.0    88.0  0.312  0.395
4       196.0    88.0  0.308  0.378
...       ...     ...    ...    ...
24619   213.0   108.0  0.604  0.442
24620   213.0   114.0  0.508  0.247
24621   213.0   108.0  0.346  0.161
24622   203.0    97.0  0.503  0.181
24623   216.0   120.0  0.547  0.206

[24624 rows x 4 columns]

In [63]:
print('qtd de registros: ', df['height'].count())
print('media de altura: ',df['height'].mean())
print()
print('qtd de registros: ', df['weight'].count())
print('media de peso: ',df['weight'].mean())
print()
print('qtd de registros: ', df['TS%'].count())
print('media de taxa de lanÃ§amentos: ',df['TS%'].mean())
print()
print('qtd de registros: ', df['FTr'].count())
print('media de lanÃ§amentos livres ',df['FTr'].mean())

qtd de registros:  24594
media de altura:  573878.4408798894

qtd de registros:  24621
media de peso:  252724.61528776248

qtd de registros:  24538
media de taxa de lanÃ§amentos:  1870.5780556280151

qtd de registros:  24525
media de lanÃ§amentos livres  23885.42191160049

In [65]:
#Pelo desvio apresentado das mÃ©dias utilizando o mÃ©todo mean() 
#vemos que precisamos retirar os outliers que distorcem os dados

In [66]:
jogadores.sort_values(by=['height'], ascending=True)['height'].head()

1892      1.0
1418      1.0
1492      2.0
1837    160.0
2587    165.0
Name: height, dtype: float64

In [67]:
jogadores.sort_values(by=['height'], ascending=False)['height'].head()

1776    2.015560e+09
1594    1.009800e+04
1797    1.212000e+03
1306    1.130000e+03
2297    2.310000e+02
Name: height, dtype: float64

In [68]:
jogadores.sort_values(by=['weight'], ascending=True)['weight'].head()

359      0.0
391      0.0
242      1.0
718      2.0
1764    60.0
Name: weight, dtype: float64

In [69]:
jogadores.sort_values(by=['weight'], ascending=False)['weight'].head()

1794    888565978.0
879         10918.0
446         10078.0
103          1110.0
3686          163.0
Name: weight, dtype: float64

In [70]:
metricas.sort_values(by=['TS%'], ascending=True)['TS%'].head()

13550    0.0
14624    0.0
24320    0.0
14513    0.0
20187    0.0
Name: TS%, dtype: float64

In [71]:
metricas.sort_values(by=['TS%'], ascending=False)['TS%'].head()

1174     45868796.0
8843         1136.0
8059         1136.0
11873        1136.0
23615        1094.0
Name: TS%, dtype: float64

In [72]:
metricas.sort_values(by=['FTr'], ascending=True)['FTr'].head()

3016     0.0
21575    0.0
16723    0.0
21574    0.0
13038    0.0
Name: FTr, dtype: float64

In [73]:
metricas.sort_values(by=['FTr'], ascending=False)['FTr'].head()

1212     585654786.0
519           3500.0
9891          2667.0
19024         2167.0
14461         1846.0
Name: FTr, dtype: float64

O cÃ³digo abaixo seleciona a mÃ©dia dos valores na coluna height que estÃ£o entre 0.02% e 99.8% da coluna height. Dessa forma, deixando os outliers que distorcem a mÃ©dia de fora.

In [74]:
df[(df['height'] > df['height'].quantile(0.002)) & (df['height'] < df['height'].quantile(0.998))]['height'].mean()

199.44283380971825

In [75]:
# SUBSTITUINDO EXTREMIDADE SUPERIOR DE height
df['height'] = np.where(df['height'] >= df['height'].quantile(0.998),
                               
                                  df[(df['height'] > df['height'].quantile(0.002)) & 
                                                (df['height'] < df['height'].quantile(0.998))]['height'].mean(),
                              
                                  df['height'])

# SUBSTITUINDO EXTREMIDADE INFERIOR DE height
df['height'] = np.where(df['height'] <= df['height'].quantile(0.002),
                               
                                  df[(df['height'] > df['height'].quantile(0.002)) & 
                                                (df['height'] < df['height'].quantile(0.998))]['height'].mean(),
                              
                                  df['height'])

# SUBSTITUINDO EXTREMIDADE SUPERIOR DE weight
df['weight'] = np.where(df['weight'] >= df['weight'].quantile(0.998),
                               
                                  df[(df['weight'] > df['weight'].quantile(0.002)) & 
                                                (df['weight'] < df['weight'].quantile(0.998))]['weight'].mean(),
                              
                                  df['weight'])

# SUBSTITUINDO EXTREMIDADE INFERIOR DE weight
df['weight'] = np.where(df['weight'] <= df['weight'].quantile(0.002),
                               
                                  df[(df['weight'] > df['weight'].quantile(0.002)) & 
                                                (df['weight'] < df['weight'].quantile(0.998))]['weight'].mean(),
                              
                                  df['weight'])

# SUBSTITUINDO EXTREMIDADE SUPERIOR DE TS%
df['TS%'] = np.where(df['TS%'] >= df['TS%'].quantile(0.998),
                               
                                  df[(df['TS%'] > df['TS%'].quantile(0.002)) & 
                                                (df['TS%'] < df['TS%'].quantile(0.998))]['TS%'].mean(),
                              
                                  df['TS%'])

# SUBSTITUINDO EXTREMIDADE INFERIOR DE TS%
df['TS%'] = np.where(df['TS%'] <= df['TS%'].quantile(0.002),
                               
                                  df[(df['TS%'] > df['TS%'].quantile(0.002)) & 
                                                (df['TS%'] < df['TS%'].quantile(0.998))]['TS%'].mean(),
                              
                                  df['TS%'])

# SUBSTITUINDO EXTREMIDADE SUPERIOR DE FTr
df['FTr'] = np.where(df['FTr'] >= df['FTr'].quantile(0.998),
                               
                                  df[(df['FTr'] > df['FTr'].quantile(0.002)) & 
                                                (df['FTr'] < df['FTr'].quantile(0.998))]['FTr'].mean(),
                              
                                  df['FTr'])

# SUBSTITUINDO EXTREMIDADE INFERIOR DE FTr
df['FTr'] = np.where(df['FTr'] <= df['FTr'].quantile(0.002),
                               
                                  df[(df['FTr'] > df['FTr'].quantile(0.002)) & 
                                                (df['FTr'] < df['FTr'].quantile(0.998))]['FTr'].mean(),
                              
                                  df['FTr'])

## Tratamento de valores ausentes

In [76]:
# TRATAMENTO DOS NUMÃ‰RICOS AUSENTES SUBSTITUINDO PELA MÃ‰DIA DA COLUNA
df['height'] = df['height'].fillna(value = df['height'].mean())
df['weight'] = df['weight'].fillna(value = df['weight'].mean())
df['TS%'] = df['TS%'].fillna(value = df['TS%'].mean())
df['FTr'] = df['FTr'].fillna(value = df['FTr'].mean())

In [77]:
df['birth_city'] = df['birth_city'].fillna(value = 'Nao identificado')
df['birth_state'] = df['birth_state'].fillna(value = 'Nao identificado')
df['collage'] = df['collage'].fillna(value = 'Nao identificado')
df[['birth_city', 'birth_state', 'collage']].head()

         birth_city       birth_state                          collage
0  Nao identificado  Nao identificado               Indiana University
1          Yorktown           Indiana           University of Kentucky
2  Nao identificado  Nao identificado         University of Notre Dame
3  Nao identificado  Nao identificado  North Carolina State University
4  Nao identificado  Nao identificado  North Carolina State University

## DiscretizaÃ§Ã£o
Discretizando a idade dos jogadores em trÃªs categorias e criando um nova coluna

In [78]:
def discrIdade(x):
    if x < df['Age'].quantile(0.33):
        return 'Junior'
    elif x < df['Age'].quantile(0.66):
        return 'Medio'
    else:
        return 'Senior'

In [79]:
df['DescIdade'] = df['Age'].apply(discrIdade)

In [80]:
df['DescIdade'].head(8)

0    Senior
1    Senior
2     Medio
3     Medio
4     Medio
5     Medio
6    Junior
7    Junior
Name: DescIdade, dtype: object

## AnÃ¡lise de Dados

1. Qual a mÃ©dia de idade/peso/altura dos jogadores?

In [82]:
df[['Age', 'weight','height']].mean()

Age       26.664405
weight    95.509380
dtype: float64

2. MÃ©dia de idade/peso/altura dos jogadores das dÃ©cadas de 50 e 90.

In [88]:
print('Anos 50')
print(df[(df['Year'] >= 1950) & (df['Year'] < 1960)][['Age','weight','height']].mean())
print()
print('Anos 90')
print(df[(df['Year'] >= 1990) & (df['Year'] < 2000)][['Age','weight','height']].mean())

Anos 50
Age        26.056172
weight     88.690636
height    193.769655
dtype: float64

Anos 90
Age        27.190311
weight     95.742329
height    200.079126
dtype: float64

In [90]:
df.head(2)

,Unnamed: 0_x,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,PF,PTS,Unnamed: 0_y,height,weight,collage,born,birth_city,birth_state,DescIdade
0,0,1950,Curly Armstrong,G-F,31.0,FTW,63,NaN,NaN,NaN,...,217,458,0,180.0,77.0,Indiana University,1918.0,Nao identificado,Nao identificado,Senior
1,1,1950,Cliff Barker,SG,29.0,INO,49,NaN,NaN,NaN,...,99,279,1,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,Senior

## Qual jogador mais marcou pontos na sÃ©rie histÃ³rica?

In [92]:
df.groupby('Player')['PTS'].sum().sort_values(ascending=False).head(1)

Player
Kareem Abdul-Jabbar*    38387
Name: PTS, dtype: int64

## Qual foi o jogador que mais marcou pontos em uma Ãºnica temporada? Qual ano isso aconteceu?

In [98]:
df.groupby(['Player','Year'])['PTS'].sum().sort_values(ascending=False).head()

Player             Year
Wilt Chamberlain*  1965    5068
                   1962    4029
Carmelo Anthony    2011    3940
DeMarcus Cousins   2017    3884
Archie Clark       1972    3876
Name: PTS, dtype: int64

## Qual jogador que jogou por mais tempo na NBA?

In [101]:
df.groupby('Player')['Year'].count().sort_values(ascending=False).head()

Player
Eddie Johnson       33
Mike Dunleavy       32
Gerald Henderson    29
Nazr Mohammed       28
Kevin Willis        27
Name: Year, dtype: int64

## Qual jogador permaneceu mais tempo em um time? Qual Ã© este time? Por quanto tempo ele ficou neste time?

In [105]:
df.groupby(['Player','Tm'])['Year'].count().sort_values(ascending=False).head()

Player          Tm
Kobe Bryant     LAL    20
Dirk Nowitzki   DAL    19
John Stockton*  UTA    19
Tim Duncan      SAS    19
Reggie Miller*  IND    18
Name: Year, dtype: int64

## Quais sÃ£o os atletas mais altos e mais baixos que jÃ¡ jogaram na NBA?

In [118]:
#Os mais altos sÃ£o/foram:
df.groupby('Player')['height'].max().sort_values(ascending=False).head()

Player
P.J. Brown       229.0
Shawn Bradley    229.0
Yao Ming*        229.0
Peter John       226.0
Sim Bhullar      226.0
Name: height, dtype: float64

In [125]:
#Os mais baixos sÃ£o/foram:
df.groupby('Player')['height'].min().sort_values(ascending=True).head()

Player
Spud Webb          168.0
Keith Jennings     170.0
Monte Towe         170.0
Greg Grant         170.0
Willie Somerset    173.0
Name: height, dtype: float64

## Quais sÃ£o os jogadores mais pesados e mais leves que jÃ¡ jogaram na NBA?

In [122]:
#Os mais pesados sÃ£o/foram:
df.groupby('Player')['weight'].max().sort_values(ascending=False).head()

Player
Ha Seung-Jin        138.0
Garret Siler        138.0
Gheorghe Muresan    137.0
Jerome James        136.0
DeSagana Diop       136.0
Name: weight, dtype: float64

In [124]:
#Os mais leves sÃ£o/foram:
df.groupby('Player')['weight'].min().sort_values(ascending=True).head()

Player
Greg Grant         63.0
Tiny Archibald*    68.0
Monte Towe         68.0
Elliot Perry       68.0
Tyler Ulis         68.0
Name: weight, dtype: float64